<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>天狗果蔬超市</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/css/index.css" type="text/css" rel="stylesheet" />
</head>


<body style="font-family: 'Roboto', sans-serif">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <ul>
                {% if request.user.is_authenticated %}
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="/static/image/login2.jpg">
                            </div>
                            <a href="#user"><img class="circle" src="/static/image/user.jpg"></a>
                            <a href="#name"><span class="white-text name">{{ request.user.username }}</span></a>
                            <a href="#email"><span class="white-text email">{{ request.user.email }}</span></a>
                        </div>
                    </li>
                    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                    <li><a href="#!">Second Link</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader">Subheader</a></li>
                    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <li style="margin-left: 7%" onclick="show_sidebar()">
                    <a><i class="material-icons">menu</i></a>
                </li>
                <li style="padding-left: 10px">
                    <a id="logo-container" href="#" style="color:#3E9388; font-size: 35px">天狗果蔬超市</a>
                </li>
                <li style="float: right"><a href="/logout">退出登录</a></li>

                {% else %}
                <li style="margin-left: 7%" onclick="show_sidebar()">
                    <a id="logo-container" href="#" style="color:#3E9388; font-size: 35px">天狗果蔬超市</a>
                </li>
                <li style="float:right"><a href="/register">注册</a></li>
                <li style="float:right"><a href="/login">用户登录</a></li>
                {% endif %}

                <script src="/static/js/sidenav.js"></script>
            </ul>
        </div>
    </nav>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div id="header-container" class="container">
                <br><br>
                <h1 class="header center" style="color: whitesmoke; margin-top: 170px"><strong>天狗果蔬超市</strong></h1>
                {% if request.user.is_authenticated %}
                <div class="row center">
                    <h5 class="header col s12 light"><strong>挑选今日果蔬🍉🥬</strong></h5>
                </div>
                {% else %}
                <div class="row center">
                    <h5 class="header col s12 light"><strong>登录后进入超市🍎</strong></h5>
                </div>
                {% endif %}
                <div class="row center">
                    {% if request.user.is_authenticated %}
                    <a href="/infolist" id="download-button"
                        class="btn-large waves-effect waves-light teal lighten-1">选择模版</a>
                    {% else %}
                    <a href="/login" id="download-button"
                        class="btn-large waves-effect waves-light teal lighten-1">登录</a>
                    {% endif %}

                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/static/image/fruit.jpg"></div>
    </div>



    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">简介</h5>
                    <p class="grey-text text-lighten-4">天狗果蔬超市的命名源于天猫，但因为作者更喜欢狗所以叫天狗</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">成员</h5>
                    <ul>
                        <li><a class="white-text" href="#!">崔鹏</a></li>
                        <li><a class="white-text" href="#!">袁研</a></li>
                        <li><a class="white-text" href="#!">张毕成</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">工作</h5>
                    <ul>
                        <li><a class="white-text" href="#!">系统后端</a></li>
                        <li><a class="white-text" href="#!">系统前端</a></li>
                        <li><a class="white-text" href="#!">数据库设计</a></li>
                        <li><a class="white-text" href="#!">界面设计 Java类设计</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

</body>

</html>